/vendor
.env
/storage/*.key
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Nếu bạn có tạo folder chứa dữ liệu DB riêng ở ngoài:
mysql_data/